.root {
	--ml-term-decoration-color: var(--ml-color-surface-contrast);
	--ml-term-decoration-offset: -0.25em;
	--ml-term-font-style: normal;

	font-style: var(--ml-term-font-style);
}

.root::after {
	position: relative;
	cursor: pointer;
	cursor: -webkit-pointer;
	cursor: -moz-pointer;
	content: attr(data-decoration);
	opacity: var(--ml-term-decoration-opacity);
	top: var(--ml-term-decoration-offset);
}
