:root {
	--ml-figure-border-size: 2px;
	--ml-figure-border-color: #000;
	--ml-figure-border-style: solid;
	--ml-figure-border-radius: 0;
	--ml-figure-font-family: var(--ml-font-font1-family);
	--ml-figure-size-xs: var(--ml-size-xs, 0.65em);
	--ml-figure-size-sm: var(--ml-size-sm, 0.85em);
	--ml-figure-size-md: var(--ml-size-md, 1em);
	--ml-figure-size-lg: var(--ml-size-lg, 1.15em);
	--ml-figure-size-xl: var(--ml-size-xl, 1.25em);
	--ml-figure-caption-font-family: var(--ml-figure-font-family);
	--ml-figure-caption-font-size: var(--ml-figure-size);
	--ml-figure-caption-text-color: inherit;
	--ml-figure-caption-font-weight: inherit;
}

.root {
	display: inline-block;
	justify-content: center;
	box-sizing: border-box;
	flex-direction: column;
	font-family: var(--ml-figure-font-family);
}

.root .figure {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.root .caption {
	display: block;
	font-size: 0.85em;
	margin-top: 0.5em;
	font-weight: var(--ml-figure-caption-font-weight);
	color: var(--ml-figure-caption-text-color);
}

.root img {
	max-width: 100%;
}

/* size */
.root[data-size='xs'] {
	font-size: var(--ml-figure-size-xs);
}
.root[data-size='sm'] {
	font-size: var(--ml-figure-size-sm);
}
.root[data-size='md'] {
	font-size: var(--ml-figure-size-md);
}
.root[data-size='lg'] {
	font-size: var(--ml-figure-size-lg);
}
.root[data-size='xl'] {
	font-size: var(--ml-figure-size-xl);
}

/* shadow */
.root[data-shadow='sm'] .figure {
	box-shadow: var(--ml-shadow-sm);
}
.root[data-shadow='md'] .figure {
	box-shadow: var(--ml-shadow-md);
}
.root[data-shadow='lg'] .figure {
	box-shadow: var(--ml-shadow-lg);
}

/* radius */
.root[data-radius='sm'] .figure {
	border-radius: var(--ml-radius-sm);
}
.root[data-radius='md'] .figure {
	border-radius: var(--ml-radius-md);
}
.root[data-radius='lg'] .figure {
	border-radius: var(--ml-radius-lg);
}
.root[data-radius='md'] .figure {
	border-radius: var(--ml-radius-md);
}
.root[data-radius='lg'] .figure {
	border-radius: var(--ml-radius-lg);
}

/* full-width */
.root[data-full-width='true'] {
	display: block;
	width: var(--ml-figure-full-width);
}

/* bordered */
.root[data-bordered='true'] .figure {
	padding: 0.25em;
	border-radius: var(--ml-figure-border-radius);
	border-width: var(--ml-figure-border-size);
	border-style: var(--ml-figure-border-style);
	border-color: var(--ml-figure-border-color);
}

/* variant: codeblock - TODO: implement on client side as theme overrides */
/* .root[data-variant='codeblock'] {
	border: none;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
} */
