:root {
	--ml-list-margin-top: 0;
	--ml-list-margin-bottom: 0;
	--ml-list-margin-right: 0;
	--ml-list-margin-left: 0;
	--ml-list-padding-top: 0;
	--ml-list-padding-bottom: 0;
	--ml-list-padding-right: 0;
	--ml-list-padding-left: 0;
}

.root {
	display: flex;
	flex-direction: column;
	margin-top: var(--ml-list-margin-top);
	margin-bottom: var(--ml-list-margin-bottom);
	margin-left: var(--ml-list-margin-left);
	margin-right: var(--ml-list-margin-right);
	padding-top: var(--ml-list-padding-top);
	padding-bottom: var(--ml-list-padding-bottom);
	padding-left: var(--ml-list-padding-left);
	padding-right: var(--ml-list-padding-right);
}
.root .items {
	background-color: var(--ml-list-items-background-color);
}
