.root {
	--ml-list-item-surface-radius: 0;
	--ml-list-item-content-text-color: black;
	--ml-list-item-surface-background-color: none;
	--ml-list-item-marker-background-color: pink;

	/* overflow: hidden; */
	/* position: relative;
	border-radius: var(--ml-list-item-surface-radius);
	background-color: var(--ml-list-item-surface-background-color);
	color: var(--ml-list-item-content-text-color); */
}

/* 
.root .marker {
	pointer-events: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 0.5em;
	background-color: var(--ml-list-item-marker-background-color);
}

.root[data-selected='true'] {
	background-color: var(--ml-list-item-surface-background-color__selected);
}

.root:not([data-selected='true']):hover {
	background-color: var(--ml-list-item-surface-background-color__hover);
} */
