:root {
	--ml-container-padding-top: 1em;
	--ml-container-padding-bottom: 1em;
	--ml-container-padding-right: 1em;
	--ml-container-padding-left: 1em;
	--ml-container-radius: 0;
	--ml-container-gap: 0;
	--ml-container-padding: var(--ml-spacing-md);
	--ml-container-background-color: var(--ml-color-surface-main);
}

.root {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	gap: var(--ml-container-gap);
	min-width: var(--ml-container-min-width);
	background-color: var(--ml-container-background-color);
	padding: var(--ml-container-padding);
	border: none;
	border-radius: var(--ml-container-radius);
}

/* sticky */
.root[data-sticky='true'] {
	position: fixed;
	left: 0;
	width: 100%;
}
.root[data-sticky-position='true'] {
	z-index: 1;
}
.root[data-sticky-position='bottom'] {
	bottom: 0;
}
.root[data-sticky-position-top='top'] {
	top: 0;
}

/* gap */
.root[data-gap='sm'] {
	gap: var(--ml-spacing-sm);
}
.root[data-gap='md'] {
	gap: var(--ml-spacing-md);
}
.root[data-gap='lg'] {
	gap: var(--ml-spacing-lg);
}

/* shadow */
.root[data-shadow='sm'] {
	box-shadow: var(--ml-shadow-sm);
}
.root[data-shadow='md'] {
	box-shadow: var(--ml-shadow-md);
}
.root[data-shadow='lg'] {
	box-shadow: var(--ml-shadow-lg);
}

/* radius */
.root[data-radius='sm'] {
	border-radius: var(--ml-radius-sm);
}
.root[data-radius='md'] {
	border-radius: var(--ml-radius-md);
}
.root[data-radius='lg'] {
	border-radius: var(--ml-radius-lg);
}

.root[data-radius='md'] {
	border-radius: var(--ml-radius-md);
}

.root[data-radius='lg'] {
	border-radius: var(--ml-radius-lg);
}

.root[data-flex-direction='row'] {
	flex-direction: row;
}

.root[data-flex-direction='column'] {
	flex-direction: column;
}

.root[data-space-between='true'] {
	justify-content: space-between;
}

.root[data-align-content-right='true'] {
	justify-content: right;
}

.root[data-align-content-left='true'] {
	justify-content: left;
}

.root[data-align-items-center='true'] {
	align-items: center;
}
