.root {
	--ml-container-border-size: var(--ml-border-xs);
	--ml-container-border-style: solid;
	--ml-container-border-color: var(--ml-color-surface-main);
	--ml-container-background-color: transparent;

	display: flex;
	box-sizing: border-box;
	box-shadow: var(--ml-container-shadow);
	border-radius: var(--ml-container-radius);
	/* padding: var(--ml-container-spacing); */

	padding-top: var(--ml-container-vertical-spacing);
	padding-bottom: var(--ml-container-vertical-spacing);
	padding-right: var(--ml-container-horizontal-spacing);
	padding-left: var(--ml-container-horizontal-spacing);

	flex-direction: var(--ml-container-flex-direction);
	justify-content: var(--ml-container-justify-content);
	align-items: var(--ml-container-align-items);
	gap: var(--ml-container-gap);
	min-width: var(--ml-container-min-width);
	background-color: var(--ml-container-background-color);
}

/* bordered */
.bordered {
	border-top: var(--ml-container-border-size) var(--ml-container-border-style)
		var(--ml-container-border-color);
	border-bottom: var(--ml-container-border-size)
		var(--ml-container-border-style) var(--ml-container-border-color);
	border-left: var(--ml-container-border-size) var(--ml-container-border-style)
		var(--ml-container-border-color);
	border-right: var(--ml-container-border-size) var(--ml-container-border-style)
		var(--ml-container-border-color);
}

/* sticky */
.sticky {
	position: fixed;
	left: 0;
	width: 100%;
}
.root[data-sticky-position='true'] {
	z-index: 1;
}
.sticky-position-bottom {
	bottom: 0;
}
.sticky-position-top {
	top: 0;
}

/* gap */
.gap-xs {
	--ml-container-gap: var(--ml-spacing-xs);
}
.gap-sm {
	--ml-container-gap: var(--ml-spacing-sm);
}
.gap-md {
	--ml-container-gap: var(--ml-spacing-md);
}
.gap-lg {
	--ml-container-gap: var(--ml-spacing-lg);
}
.gap-xl {
	--ml-container-gap: var(--ml-spacing-xl);
}

/* shadow */
.shadow-sm {
	--ml-container-shadow: var(--ml-shadow-sm);
}
.shadow-md {
	--ml-container-shadow: var(--ml-shadow-md);
}
.shadow-lg {
	--ml-container-shadow: var(--ml-shadow-lg);
}

/* radius */
.radius-sm {
	--ml-container-radius: var(--ml-radius-sm);
}
.radius-md {
	--ml-container-radius: var(--ml-radius-md);
}
.radius-lg {
	--ml-container-radius: var(--ml-radius-lg);
}

/* spacing */
.spacing-xs {
	--ml-container-vertical-spacing: var(--ml-spacing-xs);
	--ml-container-horizontal-spacing: var(--ml-spacing-xs);
}
.spacing-sm {
	--ml-container-vertical-spacing: var(--ml-spacing-sm);
	--ml-container-horizontal-spacing: var(--ml-spacing-sm);
}
.spacing-md {
	--ml-container-vertical-spacing: var(--ml-spacing-md);
	--ml-container-horizontal-spacing: var(--ml-spacing-md);
}
.spacing-lg {
	--ml-container-vertical-spacing: var(--ml-spacing-lg);
	--ml-container-horizontal-spacing: var(--ml-spacing-lg);
}
.spacing-xl {
	--ml-container-vertical-spacing: var(--ml-spacing-xl);
	--ml-container-horizontal-spacing: var(--ml-spacing-xl);
}

/* border size */
.border-xs {
	--ml-container-border-size: var(--ml-border-xs);
}
.border-sm {
	--ml-container-border-size: var(--ml-border-sm);
}
.border-md {
	--ml-container-border-size: var(--ml-border-md);
}
.border-lg {
	--ml-container-border-size: var(--ml-border-lg);
}
.border-xl {
	--ml-container-border-size: var(--ml-border-xl);
}

/* flex-direction */
.flex-direction-row {
	--ml-container-flex-direction: row;
}
.flex-direction-column {
	--ml-container-flex-direction: column;
}

/* justify-content */
.justify-content-center {
	--ml-container-justify-content: center;
}
.justify-content-start {
	--ml-container-justify-content: start;
}
.justify-content-end {
	--ml-container-justify-content: end;
}
.justify-content-flex-start {
	--ml-container-justify-content: flex-start;
}
.justify-content-flex-end {
	--ml-container-justify-content: flex-end;
}
.justify-content-left {
	--ml-container-justify-content: left;
}
.justify-content-right {
	--ml-container-justify-content: right;
}

/* align-items */
.align-items-normal {
	--ml-container-align-items: normal;
}
.align-items-stretch {
	--ml-container-align-items: stretch;
}
.align-items-center {
	--ml-container-align-items: center;
}
.align-items-start {
	--ml-container-align-items: start;
}
.align-items-end {
	--ml-container-align-items: end;
}
.align-items-flex-start {
	--ml-container-align-items: flex-start;
}
.align-items-flex-end {
	--ml-container-align-items: flex-end;
}
.align-items-self-start {
	--ml-container-align-items: self-start;
}
.align-items-self-end {
	--ml-container-align-items: self-end;
}
.align-items-anchor-center {
	--ml-container-align-items: anchor-center;
}
.align-items-baseline {
	--ml-container-align-items: baseline;
}
.align-items-first-baseline {
	--ml-container-align-items: first baseline;
}
.align-items-last-baseline {
	--ml-container-align-items: last baseline;
}
.align-items-safe-center {
	--ml-container-align-items: safe center;
}
.align-items-unsafe-center {
	--ml-container-align-items: unsafe center;
}
