@use "./Annotation.meta" as meta;
@use "../../../node_modules/@melsloop/ml-sass-lib" as * with (
  $stylesheet-id: meta.$stylesheet-id,
  $customStates: meta.$customStates
);
@use "./Annotation.mixins.scss" as mixins;
// @use '../popover/Popover.mixin' as popover;
// @use '../popover/PopoverTrigger.meta' as trigger;

.root {
  --font-size: 0.75em;
  --font-weight: normal;
  --line-height: 1em;
  --offset-y: -0.5em;
  --padding-left: 0.15em;
  --padding-right: 0.15em;
  --data-content: #{attr(data-prefix-content) attr(data-seq)};

  position: relative;

  @include use-font-size;
  @include use-line-height;
  @include use-offset-y;
  // @include popover.trigger(trigger.id());

  .content {
    @include mixins.suffix-content-data(id(), var(--data-content));
  }

  &::before {
    @include mixins.prefix(id());
  }

  &::after {
    @include mixins.suffix(id());
  }
}
