:root {
	--ml-annotation-font-family: var(--ml-font-font1-family);
	--ml-annotation-font-size: 0.65em;
	--ml-annotation-font-weight: normal;
	--ml-annotation-offset-y: -0.5em;
	--ml-annotation-decoration-spacing: 0.15em;
	--ml-annotation-decoration-prefix: '[';
	--ml-annotation-decoration-suffix: ']';
	--ml-annotation-decoration-opacity: 0.5;
}

.root {
	position: relative;
	font-family: var(--ml-annotation-font-family);
	font-size: var(--ml-annotation-font-size);
	top: var(--ml-annotation-offset-y);
}

.root .content::after {
	content: attr(data-prefix-content) attr(data-seq);
	font-weight: var(--ml-annotation-font-weight);
	padding: 0 var(--ml-annotation-decoration-spacing);
}

.root::before {
	content: var(--ml-annotation-decoration-prefix);
}

.root::after {
	content: var(--ml-annotation-decoration-suffix);
}

.root::before,
.root::after {
	opacity: var(--ml-annotation-decoration-opacity);
}
