:root {
	--ml-custom-field-background-color: var(--ml-color-surface-main);

	--ml-custom-field-label-text-color: var(--ml-color-surface-contrast);
	--ml-custom-field-label-icon-color: var(--ml-custom-field-label-text-color);

	--ml-custom-field-input-placeholder-text-color: #c0c0c0;
	--ml-custom-field-input-border-size: 0;
	--ml-custom-field-input-shadow: 0 0 1em lightgray;
	--ml-custom-field-input-padding-top: 1em;
	--ml-custom-field-input-padding-bottom: 1em;
	--ml-custom-field-input-padding-right: 1em;
	--ml-custom-field-input-padding-left: 1em;
	--ml-custom-field-input-radius: 6px;
	--ml-custom-field-input-outline: 2px solid #b0b0b0;

	--ml-custom-field-validation-text-color: #f00;
}

.root {
	display: inline-flex;
}

.root[data-full-width='true'] {
	width: 100%;
}

.root[data-required='true'] .label .text::after {
	content: '*';
	opacity: 0.5;
}

.field {
	width: 100%;
}

.label {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	gap: 0.25em;
	color: var(--ml-custom-field-label-text-color);
	margin-bottom: 0.25em;
}

.inputElement {
	box-sizing: border-box;
	background-color: var(--ml-color-surface-light);
	color: var(--ml-color-surface-contrast);
	border: 2px solid var(--ml-color-surface-main);
	border-radius: 6px;
	padding: 1em;
	outline: 0;
	width: 100%;
	font-size: 1em;
}

.inputElement:focus {
	border-color: var(--ml-color-surface-dark);
}

.inputElement::placeholder {
	color: var(--ml-color-surface-dark);
}

.errorMessage {
}
