:root {
	--ml-loading-indicator-size: 24px;
	--ml-loading-indicator-height: 20em;
	--ml-loading-indicator-label-margin: 1em;
	--ml-loading-indicator-animation-duration: 2s;
	--ml-loading-indicator-animation-easing: linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: var(--ml-loading-indicator-height);
}

.root .image {
	animation: rotation;
	animation-duration: var(--ml-loading-indicator-rotation-animation-duration);
	animation-timing-function: var(
		--ml-loading-indicator-rotation-animation-easing
	);
	height: var(--ml-loading-indicator-size);
	width: var(--ml-loading-indicator-size);
	border-width: var(--ml-loading-indicator-border-size);
	border-style: var(--ml-loading-indicator-border-style);
	border-color: var(--ml-loading-indicator-border-color);
	background-color: var(--ml-loading-indicator-background-color);
	content: var(--ml-loading-indicator-url);
	border-radius: 50%;
	animation-iteration-count: infinite;
}

.root .label {
	/* --margin-top: var(--label-margin); */
	display: block;
	margin-top: var(--ml-loading-indicator-margin-top);
	margin-bottom: var(--ml-loading-indicator-margin-bottom);
}
