/* size */
.size-xs {
	--component-size: var(--ml-size-xs);
}
.size-sm {
	--component-size: var(--ml-size-sm);
}
.size-md {
	--component-size: var(--ml-size-md);
}
.size-lg {
	--component-size: var(--ml-size-lg);
}
.size-xl {
	--component-size: var(--ml-size-xl);
}
.size-xxl {
	--component-size: var(--ml-size-xxl);
}

/* shadow */
.shadow-sm {
	--component-shadow: var(--ml-shadow-sm);
}
.shadow-md {
	--component-shadow: var(--ml-shadow-md);
}
.shadow-lg {
	--component-shadow: var(--ml-shadow-lg);
}

/* radius */
.radius-sm {
	--component-radius: var(--ml-radius-sm);
}
.radius-md {
	--component-radius: var(--ml-radius-md);
}
.radius-lg {
	--component-radius: var(--ml-radius-lg);
}
