.root {
	--ml-toggle-group-size: var(--size);
	--ml-toggle-group-shadow: var(--shadow);
	--ml-toggle-group-radius: var(--radius);
	--ml-toggle-group-spacing: var(--spacing);
	--ml-toggle-group-gap: 0;
	--ml-toggle-group-background-color: none;
	--ml-toggle-group-item-spacing: 0;
	--ml-toggle-group-item-min-width: 1.5em;
	--ml-toggle-group-border-width: var(--ml-border-xs);
	--ml-toggle-group-border-style: solid;
	--ml-toggle-group-border-color: var(--ml-color-surface-main);

	display: inline-flex;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	gap: var(--ml-toggle-group-gap);
	background-color: var(--ml-toggle-group-background-color);
	border-radius: var(--ml-toggle-group-radius);
	box-shadow: var(--ml-toggle-group-shadow);
	font-size: var(--ml-toggle-group-size);
}

/* orientation */
.vertical {
	flex-direction: column;
}

/* full-width */
.fullWidth {
	display: flex;
	width: 100%;
}
.fullWidth .item {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
}

/* size */
.size-xs {
	--size: var(--ml-size-xs);
}
.size-sm {
	--size: var(--ml-size-sm);
}
.size-md {
	--size: var(--ml-size-md);
}
.size-lg {
	--size: var(--ml-size-lg);
}
.size-xl {
	--size: var(--ml-size-xl);
}
.size-xxl {
	--size: var(--ml-size-xxl);
}

/* shadow */
.shadow-sm {
	--shadow: var(--ml-shadow-sm);
}
.shadow-md {
	--shadow: var(--ml-shadow-md);
}
.shadow-lg {
	--shadow: var(--ml-shadow-lg);
}

/* radius */
.radius-sm {
	--radius: var(--ml-radius-sm);
}
.radius-md {
	--radius: var(--ml-radius-md);
}
.radius-lg {
	--radius: var(--ml-radius-lg);
}

/* spacing */
.spacing-xs {
	--spacing: var(--ml-spacing-xs);
}
.spacing-sm {
	--spacing: var(--ml-spacing-sm);
}
.spacing-md {
	--spacing: var(--ml-spacing-md);
}
.spacing-lg {
	--spacing: var(--ml-spacing-lg);
}
.spacing-xl {
	--spacing: var(--ml-spacing-xl);
}

/* bordered */
.bordered {
	/* top */
	border-top-width: var(--ml-toggle-group-border-width);
	border-top-style: var(--ml-toggle-group-border-style);
	border-top-color: var(--ml-toggle-group-border-color);
	/* bottom */
	border-bottom-width: var(--ml-toggle-group-border-width);
	border-bottom-style: var(--ml-toggle-group-border-style);
	border-bottom-color: var(--ml-toggle-group-border-color);
	/* left */
	border-left-width: var(--ml-toggle-group-border-width);
	border-left-style: var(--ml-toggle-group-border-style);
	border-left-color: var(--ml-toggle-group-border-color);
	/* right */
	border-right-width: var(--ml-toggle-group-border-width);
	border-right-style: var(--ml-toggle-group-border-style);
	border-right-color: var(--ml-toggle-group-border-color);
}

/* item */
.item {
	padding: var(--ml-toggle-group-spacing);
	min-width: var(--ml-toggle-group-item-min-width);
	text-align: center;
	display: block;
	cursor: pointer;
	cursor: -webkit-pointer;
	cursor: -moz-pointer;
}

/* selected item */
.item[data-state='on'] {
	outline: 2px solid red;
}
.root[dir='ltr'] .item[data-state='on']:first-child,
.root[dir='rtl'] .item[data-state='on']:last-child {
	border-top-left-radius: var(--ml-toggle-group-radius);
	border-bottom-left-radius: var(--ml-toggle-group-radius);
}
.root[dir='ltr'] .item[data-state='on']:last-child,
.root[dir='rtl'] .item[data-state='on']:first-child {
	border-top-right-radius: var(--ml-toggle-group-radius);
	border-bottom-right-radius: var(--ml-toggle-group-radius);
}
.root.vertical .item[data-state='on']:first-child {
	border-radius: 0;
	border-top-left-radius: var(--ml-toggle-group-radius);
	border-top-right-radius: var(--ml-toggle-group-radius);
}
.root.vertical .item[data-state='on']:last-child {
	border-radius: 0;
	border-bottom-left-radius: var(--ml-toggle-group-radius);
	border-bottom-right-radius: var(--ml-toggle-group-radius);
}
