:root {
	--ml-toggle-group-gap: 0.5em;
}

.root {
	display: inline-flex;
	user-select: none;
	gap: var(--ml-toggle-group-gap);
}

.root[data-full-width='true'] {
	display: flex;
}

.root[data-orientation='vertical'] {
	flex-direction: column;
}

.item {
}
